.DraftEditor-root,
.DraftEditor-editorContainer,
.public-DraftEditor-content {
  padding: 5px;
  margin: 5px;
  height: 100%;
  color: #393d3f;
  text-shadow: 0px 0px 0px #000;
  -webkit-text-fill-color: transparent;
}

.public-DraftEditorPlaceholder-root {
  margin-top: 28px;
  margin-left: 25px;
}

.public-DraftEditorPlaceholder-inner {
  background: rgba(0, 0, 0, .5);
  font-size: 10px;
  color: silver;
}

.DraftEditor-root {
  background-color: #c6c5b9;
  color: #393d3f;
  font-size: 15px;
  border: solid 4px #546a7b;
  padding: 10px;
}

.style-container{
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
  border: solid #393d3f 4px;
  background-color: silver;
  border-radius: 5%;
}

.editor-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #393d3f;
}

#total-container{
  height: 100%;
  background-color: #393d3f;
}

