.DraftEditor-root,
.DraftEditor-editorContainer,
.public-DraftEditor-content {
  padding: 5px;
  margin: 5px;
  height: 40vw;
   color: gold;
  text-shadow: 0px 0px 0px #000;
  -webkit-text-fill-color: transparent;
}

.public-DraftEditorPlaceholder-root {
  margin-top: 28px;
  margin-left: 25px;
}

.public-DraftEditorPlaceholder-inner {
  background: rgba(0, 0, 0, .5);
  font-size: 15px;
  color: silver;
}

.DraftEditor-root {
  background-color: silver;
  color: black;
  border: 4px solid black;
  font-size: 30px;
}

.style-container{
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
  border: solid black 1px;
  background-color: silver;
  border-radius: 5%;
}

.editor-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

