.italic-container{
	flex: 1;
	justify-content: center;
	text-align: center;
	border: solid #546a7b 2px;
	border-radius: 10%;
}

.bold-container{
	flex: 1;
	justify-content: center;
	text-align: center;
	border: solid #546a7b 2px;
	border-radius: 10%;
	cursor: pointer;
}

.underline-container{
	flex: 1;
	justify-content: center;
	text-align: center;
	border: solid #546a7b 2px;
	border-radius: 10%;
	cursor: pointer;
}

.color-container{
	flex: 1;
	justify-content: center;
	text-align: center;
	border: solid #546a7b 2px;
	border-radius: 10%;
	cursor: pointer;
}

.code-container{
	flex: 1;
	justify-content: center;
	text-align: center;
	border: solid #546a7b 2px;
	border-radius: 10%;
	cursor: pointer;
}

.superscript-container{
	flex: 1;
	justify-content: center;
	text-align: center;
	border: solid #546a7b 2px;
	border-radius: 10%;
}

.style-container{
	display: flex;
	width: 10%;
	flex-direction: row;
	padding: 5px;
	background-color: #c6c5b9;
	border: solid 4px #546a7b;
}

.button{
	width: 100%;
	color: black;
	background-color: #fdfdff;
}

i{
	font-size: 15px;
	color: #546a7b;
}

.italic-container:hover{
	background-color: #fdfdff;
	transition: 0.3s;
}

.bold-container:hover{
	background-color: #fdfdff;
	transition: 0.3s;
}


.underline-container:hover{
	background-color: #fdfdff;
	transition: 0.3s;
}


.code-container:hover{
	background-color: #fdfdff;
	transition: 0.3s;
}

.code-container:hover{
	background-color: #fdfdff;
	transition: 0.3s;
}

