#nav-container{
	width: 100%;
	padding-bottom: 5px;
	border-bottom: solid #c6c5b9 4px;
}

a {
	color: #fdfdff;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Lora', serif;
	border: solid #546a7b 2px;
	padding: 5px;
	color: #c6c5b9;
}

a:hover{
	color: #546a7b;
	transition: 0.3s;
}


#links-container{
	display: flex;
	padding: 10px;
	text-align: center;
}

#styles-container{
	flex: 1;
	padding: 5px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}